/* COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    max-width: 1180px;
    margin: 0 auto;
    height: 100%;
}

header{
    background-color: rgb(16, 16, 16);
}
/* FINE COMMON */

/* HEADER COOKIE */
header .row-cookie{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .row-cookie .link-cookie{
    display: flex;
    list-style: none;
    margin-top: 10px;
}

header .row-cookie .link-cookie li a{
    text-decoration: none;
    padding: 0 10px;
    color: gray;
    font-size: 15px;
}

.fa-phone-alt,
.fa-comment-alt,
.fa-user,
.fa-shopping-cart{
    color: #009CFF;
    margin-right: 5px;
}

.white-box{
    background-color: #fff;
    padding: 0px 3px;
}
/* FINE HEADER COOKIE */

/* HEADER MENU */
header .bars{
    display: none;
}

header .row{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: flex-start;
}

header .link-item{
    list-style: none;
    display: flex;
    align-items: center;
}

header .row .link-item li a{
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    font-size: 15px;
}

.fa-angle-down-white{
    color: grey;
}

/* FINE HEADER MENU */

/* JUMBOTRON */
#dragon{
    width: 50%;
}

#dragon img{
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: right;
}

main .jumbotron{
    background-color: #0D0B26;
    display: flex;
    height: 100%;
}

main .container{
    display: flex;
}

/* JUMBOTRON ELEMENTI A DESTRA */
main .container-jumbotron{
    display: flex;
}

main .jumbotron-text{
    margin-top: 60px;
}

main .jumbotron-title{
    margin-bottom: 30px;
    color: #fff;
}

main .jumbotron-title h1{
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 15px;
}

main .jumbotron-title p{
    font-size: 20px;
    font-weight: 100;
}

/* JUMBOTRON BOTTONE E STAR + NUMBER */
main .jumbotron-download{
    margin-top: 20px;
    display: flex;

    /* LINEA */
    padding-bottom: 30px;
    border-bottom: 1px solid grey;
}

main .jumbotron-download  a.btn{
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
}

main .link-item{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 12px;
}

main .link-item li a{
    color: #fff;
    padding: 0 2px;
    text-decoration: none;
}

main .link-item i{
    color: rgb(255, 251, 0);
}


main .link-item .number{
    font-size: 14px;
    margin-left: 10px;
}

/* JUMBOTRON SECOND PART */
main .jumbotron-second-part-text{
    display: flex;
    margin-top: 20px;
    color: grey;
    font-size: 15px;
    justify-content: space-between;
}

main .jumbotron-second-part-btn{
    display: flex;
    margin-top: 20px;
}

/* JUMBOTRON SECOND PART  BTN-PIANI */
main .btn-piani{
    display: flex;
    flex-direction: column;
    padding: 0px 50px 50px 50px;
    background-color: #223942;
    border: 1px solid #009CFF;
    border-radius: 5px;
}

main .btn-piani .primo{
    text-transform: uppercase;
    text-decoration: none;
    color: #009CFF;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}

main .btn-piani .secondo{
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

main .btn-piani.btn-two{
    width: 50%;
    background-color: transparent;
    border: 1px solid grey;
}

main .btn-piani.btn-two a{
   color: #fff;
   text-decoration: none;
   margin-top: 15px;
}

main .btn-piani.btn-one{
    width: calc(100% / 2);
    margin: 0px 20px 0px 0px;
}

main .jumbotron-second-part-text-price{
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
}

.jumbotron-second-part-price{
    margin-top: 20px;
    display: flex;
    color: #fff;
}

main .jumbotron-second-part-price{
    margin-top: 20px;
    display: flex;
    margin-bottom: 60px;
}

main .jumbotron-second-part-price .prezzo{
    font-size: 25px;
    font-weight: bold;
}

main .jumbotron-second-part-price h4{
    font-weight: 100;
    font-size: 15px;
}

main .jumbotron-second-part-price span{
    margin-top: 5px;
    font-size: 12px;
    font-weight: 100;
}

main .content-left{
    display: flex;
    flex-direction: column;
    width: 50%;
}

main .content-left .buy{
    text-transform: uppercase;
    padding: 10px 40px;
    margin: 20px 0;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background-color: #009cff;
}

main .content-left .info{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    margin: 5px 0;
}

main .content-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 30px;
    justify-content: center;
}

.line-content-right{
    border-left: 1px solid grey;
    padding-left: 15px;
}

main .content-right .offerta{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

main .content-right .free{
    text-transform: uppercase;
    font-size: 14px;
}

main .content-right p{
    font-size: 12px;
    margin-top: 5px;
}

/* PROMO */
.promo{
    font-size: 18px;
    padding: 15px 20px;
    background: #32c998;
    color: #333;
    font-weight: 600;
    text-align: center;
}

.promo h3 a{
    color: #333;
}

/* HEADER SECONDA SEZIONE */
.row-second-section{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 221, 221);
}

.link-second-section{
    list-style: none;
    display: flex;
    align-items: center;
}

.row-second-section .link-second-section li a{
    color: #000;
    text-decoration: none;
    padding: 0 20px;
    font-size: 18px;
}

/* CONTENT SECONDA SEZIONE */
.container-second-section{
    height: 100%;
    color: #fff;

    /* GRADIENTE BACKGROUND SECONDA SEZIONE */
    background:-moz-linear-gradient(top, #e72c83 0%, #a742c6 100%); 
    background: -webkit-linear-gradient(top, #e72c83 0%,#a742c6 100%); 
    background: linear-gradient(to bottom, #e72c83 0%,#a742c6 100%);
}

.content-second-section .text{
    text-align: center;
    width: 60%;
    margin: auto;
    padding-top: 60px;
}

.content-second-section .text h1{
    margin-bottom: 20px;
    font-size: 40px;
}

.content-second-section .text p{
    line-height: 25px;
}

.cover .video {
    margin: 60px auto 0px auto;
    width: 50%;
}

.container-second-section .cover{
    position: relative;
    display: flex;
}

/* LAYOUVER IMG SECONDA SEZIONE */
.cover .img-layover{
    font-size: 170px;
    color: #000;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* THIRD SECTION */
.third-section{
    background-color: #000;
}

.row-third{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row-third .col{
    margin: 60px;
    text-align: center;
    color: #fff;
}

.fa-project-diagram,
.fa-users,
.fa-money-check-alt{
    font-size: 70px;
    margin-bottom: 30px;
    
    /* GRADIENTE ICON SECONDA SEZIONE */
    background:-moz-linear-gradient(top, #e72c83 0%, #a742c6 100%); 
    background: -webkit-linear-gradient(top, #e72c83 0%,#a742c6 100%); 
    background: linear-gradient(to bottom, #e72c83 0%,#a742c6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}

.row-third h1{
    margin-bottom: 30px;
}


/* QUARTA SEZIONE */
.fourth-section{
    background: linear-gradient(to bottom, #ffffff 0%, #d6d6d6 100%);
}


.title{
    margin: 100px auto;
    font-size: 30px;
    text-align: center;
}

/* QUARTA SEZIONE ICONE */
.icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

.icon{
   text-align: center;
}

.icon p{
    color: grey;
    font-weight: 600;
 }
 
.icon .fa-pen-square{
    font-size: 70px;
    margin-bottom: 10px;
}

.green{
    color: rgb(46, 139, 87);
}

.red{
    color: rgb(182, 3, 48)
}

.violet{
    color: rgb(95, 3, 182)
}

.blue{
    color: rgb(21, 85, 202)
}

.pink{
    color: rgb(182, 3, 122)
}



.text-fourth{
    text-align: center;
    margin: 20px auto;
    width: 60%;
}
/* QUARTA SEZIONE IMAGE */
.image-fourth img{
    width: 70%;
}

.image-fourth{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

/* QUARTA SEZIONE BTN */
.btn-fourth .buy{
    padding: 10px 40px;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background-color: grey;
}

.btn-fourth{
    display: flex;
    justify-content: center;
    margin: 60px auto;
}




/* MEDIA QUERY - RESPONSIVE */

@media (max-width: 1200px){
    .container{
        width: 100%;
    }

    .jumbotron .jumbotron-text{
        width: calc(100vw - 40%);
    }

    .jumbotron #dragon{
        width: 30%;
    }
}

@media (max-width: 1000px){
    .jumbotron .jumbotron-text{
        width: calc(100vw - 35%);
    }

    .jumbotron #dragon{
        width: 30%;
    }
}

@media (max-width: 860px){
    header .row-cookie .link-cookie li a{
        padding: 0 5px;
        font-size: 12px;
    }

    header .row{
        height: 50px;
    }

    header .row-cookie{
        display: none;
    }

    header .item{
        display: none;
    }

    header .bars{
        display: inline-block;
    }

    .bars a i{
        color: #fff;
        font-size: 20px;
        margin-left: 30px;
    }

    .link-item .logo-coreldraw img{
       height: 20px;
    }

    .jumbotron #dragon{
        display: none;
    }

    main .jumbotron-text{
        margin: 60px auto;
    }

    .promo{
        font-size: 13px;
    }

    main .third-section{
        flex-direction: column;
    }

    .container .row-third{
        flex-direction: column;
    }

    .row-fourth-section .title{
        font-size: 20px;
    }

    .icons{
        flex-wrap: wrap;
        align-content: space-around;
    }

    .icon{
        padding-bottom: 20px;
    }

    .icon p{
        font-size: 12px;
    }

}