/* COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    max-width: 1180px;
    margin: 0 auto;
    height: 100%;
}

header{
    background-color: rgb(16, 16, 16);
}
/* FINE COMMON */

/* HEADER COOKIE */
header .row-cookie{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .row-cookie .link-cookie{
    display: flex;
    list-style: none;
    margin-top: 10px;
}

header .row-cookie .link-cookie li a{
    text-decoration: none;
    padding: 0 10px;
    color: gray;
    font-size: 15px;
}

.fa-phone-alt,
.fa-comment-alt,
.fa-user,
.fa-shopping-cart{
    color: #009CFF;
    margin-right: 5px;
}

.white-box{
    background-color: #fff;
    padding: 0px 3px;
}
/* FINE HEADER COOKIE */

/* HEADER MENU */
header .row{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: flex-start;
}

header .link-item{
    list-style: none;
    display: flex;
    align-items: center;
}

header .row .link-item li a{
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    font-size: 15px;
}

.fa-angle-down-white{
    color: grey;
}

/* FINE HEADER MENU */

/* JUMBOTRON */
main .jumbotron{
    /* background-image: url('dragon.jpeg'); */
    background-color: #0D0B26;
    /* background-repeat: no-repeat;
    background-size: cover; */
}

main .container{
    display: flex;
    background-color: #0D0B26;
    /* background-image: url('dragon.jpeg');
    background-repeat: no-repeat;
    background-position: right; */
}

/* JUMBOTRON ELEMENTI A DESTRA */
main .container-jumbotron{
    display: flex;
    justify-content: flex-end;
}

main .jumbotron-text{
    margin-top: 60px;
}

main .jumbotron-title{
    padding-bottom: 30px;
    color: #fff;
}

main .jumbotron-title h1{
    font-size: 30px;
    font-weight: 100;
    padding-bottom: 15px;
}

main .jumbotron-title p{
    font-size: 20px;
    font-weight: 100;
}

/* JUMBOTRON BOTTONE E STAR + NUMBER */
main .jumbotron-download{
    margin-top: 20px;
    display: flex;

    /* LINEA */
    padding-bottom: 30px;
    border-bottom: 1px solid grey;
}

main .jumbotron-download  a.btn{
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
}

main .link-item{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 12px;
}

main .link-item li a{
    color: #fff;
    padding: 0 2px;
    text-decoration: none;
}

main .link-item i{
    color: rgb(255, 251, 0);
}


main .link-item .number{
    font-size: 14px;
    margin-left: 10px;
}

/* JUMBOTRON SECOND PART */
main .jumbotron-second-part-text{
    display: flex;
    margin-top: 20px;
    color: grey;
    font-size: 15px;
    justify-content: space-between;
}

main .jumbotron-second-part-btn{
    display: flex;
    margin-top: 20px;
}

/* JUMBOTRON SECOND PART  BTN-PIANI */
main .btn-piani{
    display: flex;
    flex-direction: column;
    padding: 0px 50px 50px 50px;
    background-color: #223942;
    border: 1px solid #009CFF;
    border-radius: 5px;
}

main .btn-piani .primo{
    text-transform: uppercase;
    text-decoration: none;
    color: #009CFF;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}

main .btn-piani .secondo{
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

main .btn-piani.btn-two{
    width: 50%;
    background-color: transparent;
    border: 1px solid grey;
}

main .btn-piani.btn-two a{
   color: #fff;
   text-decoration: none;
   margin-top: 15px;
}

main .btn-piani.btn-one{
    width: calc(100% / 2);
    margin: 0px 20px 0px 0px;
}

main .jumbotron-second-part-text-price{
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
}

.jumbotron-second-part-price{
    margin-top: 20px;
    display: flex;
    color: #fff;
}

main .jumbotron-second-part-price{
    margin-top: 20px;
    display: flex;
    margin-bottom: 60px;
}

main .jumbotron-second-part-price .prezzo{
    font-size: 25px;
    font-weight: bold;
}

main .jumbotron-second-part-price h4{
    font-weight: 100;
    font-size: 15px;
}

main .jumbotron-second-part-price span{
    margin-top: 5px;
    font-size: 12px;
    font-weight: 100;
}

main .content-left{
    display: flex;
    flex-direction: column;
    width: 50%;
}

main .content-left .buy{
    text-transform: uppercase;
    padding: 10px 40px;
    margin: 20px 0;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background-color: #009cff;
}

main .content-left .info{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    margin: 5px 0;
}

main .content-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 30px;
    justify-content: center;
}

.line-content-right{
    border-left: 1px solid grey;
    padding-left: 15px;
}

main .content-right .offerta{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

main .content-right .free{
    text-transform: uppercase;
    font-size: 14px;
}

main .content-right p{
    font-size: 12px;
    margin-top: 5px;
}

/* PROMO */
.promo{
    font-size: 18px;
    padding: 15px 20px;
    background: #32c998;
    color: #333;
    font-weight: 600;
    text-align: center;
}

.promo h3 a{
    color: #333;
}

/* HEADER SECONDA SEZIONE */
.row-second-section{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 221, 221);
}

.link-second-section{
    list-style: none;
    display: flex;
    align-items: center;
}

.row-second-section .link-second-section li a{
    color: #000;
    text-decoration: none;
    padding: 0 20px;
    font-size: 18px;
}

.container-second-section{
    background-image: -webkit-linear-gradient(top right, #a00050 0%, #880000 100%);
    height: 100%;
    color: #fff;
}
.content-second-section .text{
    text-align: center;
    width: 60%;
    margin: auto;
    padding-top: 60px;
}

.content-second-section .text h1{
    margin-bottom: 20px;
}

.content-second-section .text p{
    line-height: 25px;
}


.cover .video {
    margin: 60px auto 0px auto;
    width: 50%;
}

.container-second-section .cover{
    position: relative;
    display: flex;
}

.cover .img-layover{
    font-size: 170px;
    color: #000;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
