#prod-hero .banner { position: absolute; }
#prod-hero .product-info { padding: 20px; padding-bottom: 30px; color: #fff }
#prod-hero .container { position: relative; }
#prod-hero .artist-name { position: absolute; top: 530px; left: 100px; color: #c3864f; }
#prod-hero .title { font-size: 28px; line-height: 1.5; }
#prod-hero .details p { font-size: 16px; }
#prod-hero .content p { font-size: 16px; color: #ccc; margin: 20px 0; }
#prod-hero .content a { color: #fff; margin-right: 10px }
#prod-hero .content a:hover { text-decoration: underline }
#prod-hero .content a.download { border: solid 2px #fff; padding: 11px 55px 14px 20px; text-transform: uppercase; display: inline-block; position: relative; line-height: 1 }
#prod-hero .content a.download:hover { opacity: 0.8; text-decoration: none }
#prod-hero .content a.download::after { content: ""; background: url(/static/cdgs/product_content/cdgs/2020/icon-download.png); position: absolute; top: 7px; right: 14px; height: 25px; width: 25px; background-size: 25px; }
.big-trial #prod-hero .content a.download { border: solid 2px #fff; background-color: #fff; color: #110624 !important; }
.big-trial #prod-hero .content p { margin: 30px 0 10px }
.big-trial #prod-hero .content p.trial { padding: 0 }
.big-trial #prod-hero .content a.download::after { background: url(/static/cdgs/product_content/cdgs/2020/icon-download-alt.png); }
.big-trial #prod-hero .content a:hover { text-decoration: underline !important }
#prod-hero .content a.stars { text-decoration: none; font-size: 14px; }
#prod-hero .buy-options a { font-size: 18px; width: 100% }
#prod-hero .title .new { text-transform: uppercase; font-style: italic; font-weight: 600; margin-right: 10px }
#prod-hero .title .os { display: block; font-size: 20px }
#prod-hero .title .description { font-size: 20px; display: block; margin: 0; height: 30px }
.pl-page #prod-hero .title .description { height: 50px }
#prod-hero .po { font-size: 15px; margin-top: 0; color: #D9D9D9 }
#prod-hero .promo { display: block; color: #ccc }
#prod-hero .price { font-size: 12px; padding: 0; margin: 0; padding-bottom: 15px; display: inline }
#prod-hero .priceDisplayNormal { line-height: 1 }
#prod-hero .priceDisplayStrikethrough { color: #d2d2d2; text-decoration: line-through; line-height: 1; font-size: 12px }
#prod-hero .purchase-box .priceDisplayNormal { font-size: 26px; padding-right: 5px; height: 35px }
#prod-hero .purchase-box .priceDisplayStrikethrough { font-size: 18px; margin-left: 5px }
#prod-hero .stars img { width: 80px; margin: 0 5px 3px 8px; }
#prod-hero .stars a { text-decoration: none }
.big-trial p.trial a.stars, .big-trial p.trial a.stars::after { background: none; }
#prod-hero .nav-tabs, #prod-hero .nav-tabs>li { display: flex; float: none; min-height: 87px }
#prod-hero .nav-tabs>li.active>a, #prod-hero .nav-tabs>li.active>a:focus, #prod-hero .nav>li>a:hover, #prod-hero .nav-tabs>li.active>a:hover { background-color: #223942; border: 2px solid #009CFF; padding: 20px 8px 14px; width: 100%; }
#prod-hero .nav>li>a:hover { background-color: rgba(39,39,39,0.60); border: 1px solid #A6A6A6; padding: 21px 8px 14px; }
#prod-hero .nav>li { width: 48%; margin: 0 2% 10px 0; position: relative }
#prod-hero .nav>li>a { padding: 21px 8px 14px; border-radius: 3px; text-align: center; color: #fff; border: 1px solid #707070; background-color: rgb(39 39 39 / 22%); width: 100%; }
#prod-hero .nav>li.sub.active a, #prod-hero .nav>li.sub a.active:hover { padding: 27px 8px 16px }
#prod-hero .nav>li.sub a { padding: 28px 8px 17px; }
#prod-hero .nav h4 { font-size: 15px; position: relative; margin: 0 }
#prod-hero .nav p { font-size: 16px; color: #ccc; line-height: 1.2; margin: 5px 0 0 }
#prod-hero .pur-info { min-height: 18px; margin: 0 0 25px; }
#prod-hero .pur-info p { margin: 0; font-weight: 100; line-height: 1.3; }
#prod-hero .pur-info .savingsBadge { font-weight: 400 }
#prod-hero .tab-content { padding-top: 10px; clear: both; }
#prod-hero .nav>li .flag-value { color: #1AA7FF; font-weight: 600; position: absolute; margin: 0 auto; left: 0; right: 0; top: 9px; font-size: 12px; text-transform: uppercase; }
#prod-hero .nav>li.active .flag-value { top: 8px; }
#prod-hero .hero-links { margin-top: 17px; }
#prod-hero .hero-links p { margin: 0 0 7px; }
#prod-hero .hero-links a { font-weight: 100; line-height: 1.2 }
#prod-hero .lto-box { background: none; border-left: 1px solid rgba(255,255,255,.2); padding-top: 0 }
#prod-hero .lto-promo { padding: 1px 8px 1px 8px; position: inherit; margin-bottom: 3px }
#prod-hero .lto-promo p { font-size: 14px; }
#prod-hero .link-ug { float: right; margin-right: 10px; color: #D9D9D9; font-weight: 100; }
#prod-hero .lto-promo-container h4 { font-size: 16px; color: #fff }
#prod-hero .lto-promo-container p { font-size: 13px; color: #fff }
#prod-hero .lto-promo-container .save { font-size: 14px; color: #e61b7c }
.inclVAT { font-size: 12px; vertical-align: top }
.hero-links p { padding: 0; margin: 0 0 5px; font-size: 12px; }
.hero-links a { color: #fff; }
.additional-info a { font-size: 12px; color: #fff; }
.additional-info a:hover { text-decoration: underline; }
.prod-info .desc { font-size: 16px; margin-bottom: 40px; width: 85%; }
#prod-hero .new { font-weight: 500; font-size: 95%; }
#prod-hero { background: #0D0B26; overflow: hidden }
#prod-hero #tabs-content { padding: 35px 5px 20px; }
#prod-hero .pricebrick .priceDisplayNormal.ru { max-width: 160px; line-height: 1 }
#prod-hero .prod-info h1.title { margin: 0; font-size: 100% }
#prod-hero .prod-info .alt-version { margin-bottom: 30px; }
#sub-month.hide { display: none !important }
#sub-year.hide input { display: none !important }
.prod-intro, #prod-hero .new, .prod-rating a { color: #fff; }
.prod-info .os { font-weight: 400; }
.best-value { display: none }
.container-fluid { max-width: 1600px }
#product-nav { text-transform: inherit; }
#product-nav.sticky { z-index: 11; }
#product-nav .navbar-header { float: none; }
#product-nav #subnav { font-size: 0; }
#product-nav .navbar-nav { display: inline-block; float: none; font-size: 14px; }
#product-nav .navbar-nav>li { padding: 0; }
#product-nav .navbar-nav>li>a { color: #333; }
#product-nav .navbar-nav>li>a.version { font-weight: 600; color: #000; }
#product-nav .navbar-nav>li>a.btn-primary { color: #fff; }
.artist-name { position: absolute; color: #333; z-index: 10 }
.artist-name.bottom { right: 30%; bottom: 20px; }
#overview .video-bg, .coreldraw-is-everywhere .container { position: relative; }
.coreldraw-is-everywhere .artist-name { right: 100px }
.professional-design-tools .artist-name.bottom { position: absolute; left: 30px; bottom: 30px; z-index: 10; width: auto; height: auto; }
#overview .intro p, .draw-in-perspective .sec-block p { max-width: 1000px; margin-left: auto; margin-right: auto }
.draw-in-perspective { color: #fff; padding-bottom: 80px; background-color: #115069; background-repeat: no-repeat; background-position: center bottom }
.draw-in-perspective .container-fluid { width: 100%; max-width: 1400px }
a.video { display: block; margin: 0; padding: 0; }
a.video span { width: 150px; height: 150px; position: absolute; background: url("/static/cdgs/product_content/cdgs/2020/play-icon.svg") no-repeat; left: 50%; top: 42%; transform: translate(-50%, -50%); opacity: .8; z-index: 10; transition: all .2s ease-in-out; }
a.video span:hover { transform: translate(-50%, -50%) scale(1.1); opacity: 1; }
.mac a.video span { top: 47%; }
.intro { color: #fff; position: relative; background: #01021a; }
.cdgs-2021 .intro { background: #ae4c59; background: -moz-linear-gradient(-15deg, #c35a4e 0%, #ae4c59 25%, #701148 100%); background: -webkit-linear-gradient(0deg, #c35a4e 0%, #ae4c59 25%, #701148 100%); background: linear-gradient(180deg, #c35a4e 0%, #ae4c59 25%, #701148 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c35a4e', endColorstr='#701148', GradientType=1 );
}
.intro .artist-name { color: #8f3569; right: 30% }
.flow-icons { position: relative; padding: 75px 0; color: #fff; text-align: center; background: #121212; background: -moz-linear-gradient(top, #121212 1%, #000000 100%); background: -webkit-linear-gradient(top, #121212 1%, #000000 100%); background: linear-gradient(to bottom, #121212 1%, #000000 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121212', endColorstr='#000000', GradientType=0 );
}
.flow-icons h3 { font-size: 30px }
.flow-icons p { font-size: 18px }
.flow-icons a { color: #fff; }
.flow-icons a, .whats-inc .tab-content a { text-decoration: underline }
.flow-icons a:hover { color: #fff; text-decoration: none }
.whats-inc .tab-content a, .whats-inc .tab-content a:hover, .industries .content a:hover { color: #000; }
.whats-inc .tab-content a:hover { text-decoration: none; }
.flow-icons img { max-width: 130px; display: block; margin: 0 auto 20px; }
.lightbox2 .container { font-size: 14px }
.lightbox2 h4 { margin-bottom: 15px; font-size: 26px; }
.lightbox2 p { font-size: 16px; line-height: 1.5; }
.lightbox2 ul { margin: 30px 0 30px 40px; list-style: disc }
.lightbox2 li { font-size: 14px; margin-bottom: 5px; line-height: 1.3 }
.feature-gallery .tab-content.image { margin: 30px 0 50px; }
.nav>li>a>img.nav-icon { max-width: 65px; width: auto }
.feature-gallery .nav>li>a { font-weight: 600 }
.feature-gallery .nav>li>a { padding: 0; margin: 0 20px 10px; }
.tw .feature-gallery .nav>li>a { margin: 0 15px 10px; }
#whats-inc { padding-bottom: 60px; background: #151515; color: #fff; }
#whats-inc a { color: #fff; text-decoration: underline }
#whats-inc ul { padding-left: 20px }
#whats-inc ul li { font-size: 16px }
.whats-inc { background-color: #efefef }
.whats-inc .small { font-size: 85%; margin-top: 60px; }
.wrap-inc { padding: 40px 0; font-size: 16px; text-align: left }
.wrap-inc h4 { font-size: 24px }
.whats-inc .tab-pane.active img { border: 1.5em solid #000; border-radius: 20px; box-shadow: 0 5px 15px #a5a3a3; background: #000; }
#tech-specs { background: #f1f1f1; }
.feature-gallery .nav-pills>li { min-width: 137px; }
.mac .feature-gallery .nav-pills>li { min-width: 180px; }
.feature-gallery .nav-pills>li a:hover { color: #000; }
.accordion .title p, .accordion .title a { font-size: 16px }
.accordion .title a { color: #333; text-decoration: underline }
.accordion .title a:hover { color: #333; text-decoration: none }
.accordion .panel.panel-default { margin: 0; }
.accordion .panel-title { font-size: 17px; font-weight: 500; }
.accordion .panel { border: none; border-bottom: 1px solid #ccc; border-radius: 0 !important; box-shadow: none; background-color: transparent; font-size: 17px }
.accordion .panel:first-child { border-top: 1px solid #ccc; margin-top: 40px }
.accordion .panel-title a { color: #333; }
.accordion .panel-title { position: relative; padding-right: 25px; line-height: 1.5; }
.accordion .panel-title a::before { content: ""; border-radius: 50%; position: absolute; right: 5px; top: 13px; transition: .3s transform ease-in-out; font-weight: initial; transform: rotate(45deg); width: 22px; height: 22px; background: url("/static/cdgs/product_content/cdgs/2021/plus.png") #fff; background-size: 14px; background-position: 2px -7px; background-repeat: no-repeat; border: 2px solid #707070 }
.accordion .panel-title a.collapsed::before { transform: rotate(0deg); border: 2px solid #707070 }
.accordion .panel-body { font-size: 16px; border-top: 1px dotted rgba(0,0,0,.3); line-height: 1.5; padding: 5px 0 25px; letter-spacing: -0.2px }
.accordion .panel-title a { display: block; padding: 10px 0; }
.accordion .panel-heading { padding: 0; background: transparent }
.accordion .panel-default>.panel-heading+.panel-collapse>.panel-body { border-top: none; }
.testimonials { color: #191919; padding: 30px; background: #fed536; background: -moz-linear-gradient(left, #fed536 0%, #f77d31 100%); background: -webkit-linear-gradient(left, #fed536 0%, #f77d31 100%); background: linear-gradient(to right, #fed536 0%, #f77d31 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed536', endColorstr='#f77d31', GradientType=1 );
}
.testimonials a { font-size: 16px; color: #333; text-decoration: underline }
.testimonials a:hover { color: #333; text-decoration: none }
.testimonials img { margin-bottom: 10px }
.testimonial::before { content: '“'; font-family: MS Serif, New York, serif; margin-right: 20px; font-size: 70px; vertical-align: sub; height: 40px; display: inline-block }
.testimonial::after { content: '”'; font-family: MS Serif, New York, serif, sans-serif; margin-left: 20px; font-size: 70px; vertical-align: sub; height: 40px; display: inline-block }
.carousel { margin: 0 auto; padding: 0 70px; min-height: 260px; }
.carousel .item { font-size: 18px; text-align: center; overflow: hidden; min-height: 200px; }
.carousel .testimonial { padding: 30px 20px 5px; font-size: 42px; line-height: 1; font-weight: 600; margin-bottom: 0; }
.carousel .overview { font-size: 20px; }
.carousel .overview span { text-transform: uppercase; }
.carousel .carousel-control { width: 69px; height: 70px; top: 55%; background: none; }
.carousel-control span.glyphicon { font-size: 30px; color: rgba(255, 255, 255, 0.8); }
.glyphicon-menu-left:before, .glyphicon-menu-right:before { content: " "; }
.carousel-control.right, .carousel-control.left { background-image: url("/static/cdgs/product_content/cdgs/2021/navigate-next.png"); background-size: cover; background-position: center }
.carousel-control.left { transform: rotate(180deg); }
.carousel-control .text { display: none; }
.responsive img.capterra { width: 50px; }
.flex-icons { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap }
.flex-icons.text-center img { max-width: 100px; width: auto }
.flex-icons h4 { max-width: 150px; margin: 20px auto 50px; line-height: 1.5 }
.ru .flex-icons h4 { max-width: 250px; }
.playlink:after { font-family: "Glyphicons Halflings"; content: "\e029"; display: inline-block; margin-left: 5px; vertical-align: middle; font-size: 120%; }
.paralax-sec h2 { font-size: 62px; }
.paralax-sec { padding: 300px 15px 300px; margin-top: 80px; text-align: center; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("/static/cdgs/product_content/cdgs/2021/paralax.jpg"); background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover; color: #fff }
.accordion-wrap { position: relative; overflow: hidden; padding: 100px 0 60px; }
.industries .container .artist-name { bottom: 100px; right: 20% }
.accordion.font-sm .title h2, .font-sm.title h2 { font-size: 39px; font-weight: 400 }
video.lazy-hidden { opacity: 1; width: 100% }
span.new { color: #2CBB2D; font-size: 24px; font-weight: 700; line-height: 1; font-style: italic }
span.new + h2 { margin-top: 0 }
.margin-bottom-0 { margin-bottom: 0 }
.padding-bottom-0 { padding-bottom: 0 }
.video-thumb { position: relative; max-width: 215px; margin: 20px 0 0 }
.video-thumb span { width: 60px; height: 60px; position: absolute; background: url("/static/cdgs/product_content/cdgs/2020/play-icon.svg") no-repeat; left: 50%; top: 50%; transform: translate(-50%, -50%); opacity: .8; z-index: 10; transition: all .2s ease-in-out; }
.video-thumb span:hover { transform: translate(-50%, -50%) scale(1.1); opacity: 1; }
.video-thumb img { border: 2px solid #333; }
.next-generation { color: #333 }
.next-generation ul, .design-for-print ul { list-style: circle; padding-left: 20px }
.next-generation ul li, .design-for-print ul li { margin: 20px 0; font-size: 16px }
.next-generation .btn.btn-default { margin: 10px 0 30px; }
.next-generation { background-repeat: no-repeat; background-position: center; background-size: cover; min-height: 800px; position: relative; }
.label-question { display: inline-block; background: #0A9CDF; color: white; width: 20px; height: 20px; border-radius: 50%; text-align: center; font-style: normal; line-height: 19px; font-size: 14px; }
.color-fills, .non-destructive-editing, .design-for-print, .store, .learning { background-repeat: no-repeat; background-position: center; background-size: cover; min-height: 800px; padding: 100px 0 100px; position: relative }
.non-destructive-editing .artist-name, .design-for-print .artist-name, .learning .artist-name { left: 20% }
.store-learn { padding: 100px 0; }
.store-learn p { font-size: 18px; }
.store-learn .artist-name { right: 20px; top: 50%; }
.color-fills { background-color: #1f1e2e; }
.non-destructive-editing { background-color: #030067; }
.progressive-image { position: relative; padding: 60px 0 0; min-height: 800px; margin-bottom: 50px; }
.progressive-image video { position: absolute; top: 0; left: 0; right: 0; margin: 0 auto; z-index: -1; width: 1700px }
#contrastSlide1 { margin-top: 50px; margin-left: 10px; max-width: 280px; }
#contrastSlide1 { margin-left: 0; }
.wrap-caption { position: relative; z-index: 3; }
.bitmap-to-vector { position: relative; transition: all 0.6s ease-in-out; }
.bitmap-to-vector .container { position: relative; }
.bitmap-to-vector .sec-block.text-center { position: absolute; left: 15px; top: 0; z-index: 3; text-align: left; max-width: 330px; }
#beforeAfter { position: relative; max-height: 800px; overflow: hidden; }
#beforeAfter ul, #beforeAfter li { margin: 0; }
#beforeAfter ul { display: table; padding: 0; }
#beforeAfter li { display: none; list-style: none; }
#beforeAfter .active-image { display: block; }
#beforeAfter .controls { position: absolute; bottom: 0; z-index: 100; width: 10%; right: -120px; }
#beforeAfter .controls .prev, #beforeAfter .controls .next { color: #13ad97; cursor: pointer; }
#beforeAfter .controls .prev { float: left; background: url(/static/ptr/product_content/painter/2020/arrows.png) no-repeat 0 0; width: 29px; height: 29px; }
#beforeAfter .controls .next { float: right; background: url(/static/ptr/product_content/painter/2020/arrows.png) no-repeat -29px 0; width: 29px; height: 29px; }
#beforeAfter .controls .prev:hover, #beforeAfter .controls .next:hover { opacity: 0.3; }
#beforeAfter .instruction { cursor: pointer; }
#beforeAfter .label { background-color: rgba(0, 0, 0, 0.5); border-radius: 0; bottom: 0; color: #fff; font-size: 14px; font-weight: normal; padding: 0.3em 1em 0.5em; position: absolute; z-index: 9 }
#beforeAfter .label.after { right: 0 }
.slider { position: relative; }
.slider .right.image { position: absolute; z-index: 1; top: 0; left: 0 }
.slider .left.image { position: relative; z-index: 2; border-right: 4px solid #fff; margin-right: -4px; overflow: hidden; }
.slider .instruction { position: absolute; top: 55%; padding: 0 15px 7px; color: #fff; background: #fff; border: 4px solid #fff; border-radius: 4px; left: 49.9% !important; transform: translate(-50%, -50%); z-index: 3 }
.slider .instruction p { display: inline; font-size: 2.5em; text-transform: uppercase; color: #333; line-height: 1.2; }
.whats-new-vid { margin-top: 80px }
.whats-new-vid, .screen { min-height: 700px; position: relative; }
.whats-new-vid video, .screen video { position: absolute; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; aspect-ratio: auto; z-index: 1 }
.whats-new-vid .callout { position: absolute; z-index: 2; font-size: 60px; margin-top: 225px }
.whats-new-vid h2 { font-size: 45px; text-transform: uppercase; font-weight: 600; color: #fff; font-style: italic }
.whats-new-vid .wordmark { max-width: 550px }
input[type=range] { -webkit-appearance: none; width: 100%; background: none; }
input[type=range]:focus { outline: none; }
input[type=range]::-webkit-slider-runnable-track {
 cursor: pointer;
 background: #b1bee2;
 opacity: 0.75;
 border-radius: 20px;
 height: 32px;
 transition: all 0.8s ease-in-out;
 width: 100%;
 padding-right: 8px;
}
input[type=range]::-webkit-slider-thumb {
 cursor: pointer;
 -webkit-appearance: none;
 margin-top: 4px;
 margin-left: 4px;
 margin-right: 4px;
 border-radius: 16px;
 height: 24px;
 width: 24px;
 border: 3px solid #fff;
 background: #8296c9;
}
input[type=range]:focus::-webkit-slider-runnable-track {
 background: #b1bee2;
}
input[type=range]::-moz-range-track {
 width: 100%;
 height: 32px;
 cursor: pointer;
 animate: 0.2s;
 background: #b1bee2;
 padding-right: 4px;
 padding-left: 4px;
 border-radius: 20px;
}
input[type=range]::-moz-range-thumb {
 cursor: pointer;
 -webkit-appearance: none;
 margin-top: 3px;
 border-radius: 50%;
 height: 21px;
 width: 21px;
 border: 3px solid #fff;
 background: #b1bee2;
}
input[type=range]::-ms-track {
 width: 100%;
 height: 32px;
 cursor: pointer;
 animate: 0.2s;
 background: transparent;
 border-color: transparent;
 border-width: 64px 0;
 color: transparent;
 padding-top: 10px;
}
input[type=range]::-ms-thumb {
 height: 24px;
 width: 24px;
 border-radius: 16px;
 border: 3px solid #fff;
 background: #b1bee2;
 margin-top: -2px;
}
input[type=range]::-ms-fill-lower {
 background: #b1bee2;
 border-radius: 20px;
}
input[type=range]::-ms-fill-upper {
 background: #b1bee2;
 border-radius: 20px;
}
input[type=range]:focus::-ms-fill-lower {
 background: #b1bee2;
}
input[type=range]:focus::-ms-fill-upper {
 background: #b1bee2;
}
.coreldraw-is-everywhere { background: #071e16; }
.coreldraw-is-everywhere .container { width: 100%; max-width: 1400px; }
.tools { background: #2E2E2E; padding-bottom: 65px }
.tools h4 { font-size: 30px }
.tools p { font-size: 18px }
.tools-background { background-repeat: no-repeat; background-position: center; background-size: cover; min-height: 700px; }
.color-fills, .non-destructive-editing, .tools, .coreldraw-is-everywhere, .extensive-file-compatibility { color: #fff }
.professional-design-tools .container-fluid { max-width: inherit }
.slider-bottom-holder { width: 100%; display: flex; flex-direction: column; }
.item-holder .title { margin-bottom: 0 }
.item-holder { margin: 20vh 0; }
.image-holder div { height: 100vh; width: 100%; background-size: cover; background-repeat: no-repeat; background-position: center center; }
.item-holder:first-child .content { padding-top: 20vh; }
.item-holder:first-child { margin-top: 0; }
.item-holder:last-child .content { padding-bottom: 400px; }
.item-holder .content { width: 35%; max-width: 445px; padding-left: 60px; padding-right: 15px; margin-left: 65%; align-items: flex-start; position: relative; z-index: 2; font-size: 18px }
.item-holder .content a, .art-section a { color: #333; text-decoration: underline }
.item-holder .content h3 { font-size: 30px }
.slider-bottom-holder { position: relative; }
.slider-bottom-holder .image-holder { display: flex; justify-content: center; align-items: center; align-content: center; opacity: 0; position: absolute; left: 0; top: 0; width: 100%; -webkit-transition: opacity .2s linear; -o-transition: opacity .2s linear; transition: opacity .3s linear; }
.slider-bottom-holder .active .image-holder { z-index: 1; opacity: 1; }
.slider-bottom-holder.visible .image-holder { position: fixed; }
.slider-bottom-holder .image-holder.absolute { bottom: 0; position: absolute; top: auto; }
.slider-bottom-holder .sec-block { position: relative; z-index: 2 }
.extensive-file-compatibility { background: #151515; position: relative }
.extensive-file-compatibility .container.image, .learning .container.image { width: 100%; max-width: 1400px }
.extensive-file-compatibility .col-10 { width: 9.09% }
.extensive-file-compatibility .col-10 img { width: initial; max-width: 100%; }
.extensive-file-compatibility .octopus { margin-top: -120px }
.padding-top-150 { padding-top: 150px }
.padding-top-90 { padding-top: 100px }
.padding-top-50 { padding-top: 55px }
.padding-top-20 { padding-top: 30px }
.padding-top-10 { padding-top: 10px }
.learning.container img { width: inherit; max-width: 100%; display: block; margin: 0 auto; }
.download-trial { padding-top: 40px }
.download-trial .btn { margin: 20px 0 15px }
.trademark.last { margin-bottom: 30px; padding: 3px 15px; }
.mfp-content p { font-size: 14px; }
#gallery .section-intro a, .professional-design-tools .mobile a { text-decoration: underline; color: #333 }
#gallery .section-intro a:hover { text-decoration: none; color: #333 }
.container-fluid.gallery-container { max-width: 100% }
.gallery-container>div { padding: 0 }
.gallery-container span { position: absolute; left: 0; bottom: 0; background: rgb(255 255 255 / 70%); padding: 3px 10px; color: #000; font-size: 12px; }
#accordion-mobile .nav-icon { width: 35px; height: 35px }
#accordion-mobile .panel-title a { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; align-items: center }
#accordion-mobile .panel-title a:hover, #accordion-mobile .panel-default>.panel-heading+.panel-collapse>.panel-body a { color: #333; text-decoration: underline }
#accordion-mobile .panel-title a p { font-size: 20px; margin: 0 0 0 15px; }
#accordion-mobile .panel-default>.panel-heading { background-color: transparent; border-color: transparent; }
#accordion-mobile .panel-default>.panel-heading+.panel-collapse>.panel-body { border-top-color: transparent; padding-top: 0; }
#accordion-mobile .panel-default>.panel-heading+.panel-collapse>.panel-body p { font-size: 16px; margin-top: 0; text-align: left }
#accordion-mobile .panel-default { border-color: transparent; box-shadow: none; }
.glider-contain { width: 100%; margin: 0 auto; position: relative; }
.glider { margin: 0 auto; position: relative; overflow-y: hidden; -webkit-overflow-scrolling: touch; -ms-overflow-style: none; transform: translateZ(0); }
.glider-track { transform: translateZ(0); width: 100%; margin: 0; padding: 0; display: flex; z-index: 1; }
.glider.draggable { user-select: none; cursor: -webkit-grab; cursor: grab; }
.glider.draggable .glider-slide img { user-select: none; pointer-events: none; }
.glider.drag { cursor: -webkit-grabbing; cursor: grabbing; }
.glider-slide { user-select: none; justify-content: center; align-content: center; width: 100%; }
.glider-slide img { max-width: 100%; }
.glider::-webkit-scrollbar {
 opacity: 0;
 height: 0;
}
.glider-prev, .glider-next { user-select: none; position: absolute; outline: none; background: none; padding: 0; z-index: 2; font-size: 40px; text-decoration: none; left: -23px; border: 0; top: 30%; cursor: pointer; color: #666; opacity: 1; line-height: 1; transition: opacity .5s cubic-bezier(.17, .67, .83, .67), color .5s cubic-bezier(.17, .67, .83, .67); }
.glider-prev:hover, .glider-next:hover, .glider-prev:focus, .glider-next:focus { color: #a89cc8; }
.glider-next { right: -23px; left: auto; }
.glider-next.disabled, .glider-prev.disabled { opacity: .25; color: #666; cursor: default; }
.glider-slide { min-width: 150px; }
.glider-hide { opacity: 0; }
.glider-dots { user-select: none; display: flex; flex-wrap: wrap; justify-content: center; margin: 0 auto; padding: 0; }
.glider-dot { border: 0; padding: 0; user-select: none; outline: none; display: block; cursor: pointer; color: #ccc; border-radius: 999px; background: #ccc; width: 12px; height: 12px; margin: 7px; }
.glider-dot:hover, .glider-dot:focus, .glider-dot.active { background: #a89cc8; }
#compare .panel-default { border-bottom: 1px solid #fff; }
#compare { padding-bottom: 60px }
#compare .panel-default:first-child { border-bottom: 0; }
#compare .panel-default .panel-heading { color: #fff; background-color: #ccc; border-color: #ccc; border-radius: 0; border-top: 1px solid #fff; }
#compare .panel-group .panel-heading+.panel-collapse>.panel-body { border-top: 0; }
#compare .panel-group .panel+.panel { margin-top: 0; }
#compare .panel-body, #compare .panel-body .table>thead>tr>td { padding: 0; }
#compare .panel-title a { display: block; font-size: 14px; color: #0f0f0f; text-decoration: none; font-weight: bold; }
#compare .panel-title a:hover { color: #0f0f0f; text-decoration: none }
#compare .panel-heading a:before { font-family: 'Glyphicons Halflings'; content: "\e252"; float: left; color: #000000; margin-right: 15px; font-size: 12px; line-height: 17px; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); transform: rotate(-90deg); }
#compare .panel-heading a[aria-expanded="true"]:before { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); transform: rotate(0deg); }
#compare h3 { font-size: 14px; margin: 0; font-weight: bold; text-align: center }
#compare .trFeature { text-align: center; background: #f3f3f3; }
#compare .trFeature td:first-child { text-align: left; color: #000; font-size: 14px }
#compare .comparison-chart { margin-bottom: 0; }
#compare .comparison-chart .exclusive { color: #27a730; font-weight: bold; }
#compare .feature-check p, .comparison-chart .feature-check-gray { color: #555; font-weight: bold; line-height: 22px }
#compare .comparison-chart .new { color: #000; font-weight: bold; }
#compare td a { color: #000; text-decoration: underline }
#compare .comparison-chart td { font-size: 13px; vertical-align: middle; padding: 12px; border-left: 2px solid #fff; border-bottom: 2px solid #fff; }
#compare .comparison-chart td.last-td { border-bottom: 1px solid #ddd; }
#compare .panel-heading td { padding: 15px; border-top: 0; border-left: 0 }
#compare .panel-default { border-color: transparent; }
#compare .comparison-chart td.pad-8 { padding: 8px 12px }
#compare .table>tbody+tbody { border-top: 0; }
#compare .comparison-chart tr.trFeature:hover td { background-color: #e2e2e2; }
.comparison-chart .feature-check { background: transparent }
.comparison-chart .feature-check:after { content: ''; background: url(/static/cdgs/product_content/cdgs/2021/compare-arrows.png) -6px -8px no-repeat; width: 22px; height: 20px; display: block; margin: 0 auto; }
.comparison-chart .feature-check-black:after { content: ''; background: url(/static/cdgs/product_content/cdgs/2021/compare-arrows.png) -46px -8px no-repeat; width: 22px; height: 20px; display: block; margin: 0 auto; }
.comparison-chart .feature-check-gray:after { content: ''; background: url(/static/cdgs/product_content/cdgs/2021/compare-arrows.png) -82px -6px no-repeat; width: 32px; height: 24px; display: block; margin: 0 auto; }
.compare-link-btn { color: #333; text-decoration: underline }
.comparison-chart p.feature-check, .comparison-chart p.feature-check-black { width: 17px; height: 20px; margin: 5px auto 0; }
.compare-link-btn:hover { color: #333; text-decoration: none }
.link-span { display: inline-block; padding-right: 31px; }
.compare-link-btn:last-child { margin-left: 30px }
.pdf-links { font-size: 16px; margin-top: 15px; font-weight: 500; }
#compare .table>thead>tr>th.new-version { background: #00618A; background: -moz-linear-gradient(-90deg, #00618A 0%, #0B334F 100%); background: -webkit-linear-gradient(-90deg, #00618A 0%, #0B334F 100%); background: linear-gradient(-90deg, #00618A 0%, #0B334F 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00618A", endColorstr="#0B334F", GradientType=1);
 border-radius: 6px 6px 0 0; padding: 0 0 4px; }
#compare .trFeature td:first-child { padding-left: 43px; border-left: 0 }
#compare .table>thead>tr>th:first-child .thead-wrapper { border-top-left-radius: 4px; border-left: none; padding-left: 15px; }
#compare .table>thead>tr>th:last-child .thead-wrapper { border-top-right-radius: 4px; border-right: none; }
#compare .table>thead>tr>th { border-bottom: 2px solid #fff; background-color: #fff; color: #fff; border-left: 2px solid #fff; padding: 7px 0 0; }
#compare .table thead tr th:first-child h3 { padding-left: 20px; text-align: left }
#compare .table thead tr { background: #fff; }
#compare .table>thead>tr>th.new-version .thead-wrapper { background: transparent; padding: 12px 8px 15px }
#compare .table .thead-wrapper { padding: 16px 8px 19px; background: #000; }
#compare .comparison-chart .new { color: #000; font-weight: bold; font-size: 15px; font-style: normal }
tbody.collapse.in, tbody.collapsing { height: initial !important; }
.anchor { display: block; height: 60px; margin-top: -60px; visibility: hidden; }
.promo.text-center { font-size: 18px; padding: 15px 20px; background: #32c998; color: #333; font-weight: 600; }
.promo.text-center a { color: #333; text-transform: uppercase; text-decoration: underline }
.promo.text-center a:hover { color: #333; text-decoration: none }
.subscription-exclusive { font-size: 20px; text-transform: uppercase; font-weight: 400; display: block; }
.product-icon { max-width: 95px; margin-bottom: 10px}
.download-trial.gray{background: #f1f1f1}
.no-margin-bottom{margin-bottom: 0}
.logos p{margin-bottom: 0}
.logos img{margin: 0 auto 40px; max-width: 90%}
.logos{margin-bottom: 80px}
.logos .row.three {display: none;}
@media(max-width: 36em) {
 .glider::-webkit-scrollbar {
  opacity: 1;
  -webkit-appearance: none;
  width: 7px;
  height: 3px;
 }
 .glider::-webkit-scrollbar-thumb {
  opacity: 1;
  border-radius: 99px;
  background-color: rgba(156, 156, 156, 0.25);
  box-shadow: 0 0 1px rgba(255,255,255,.25);
 }
}

@media (min-width: 768px) {
#prod-hero .container::before { background-image: url(/static/cdgs/product_content/cdgs/2021/dragon.png); position: absolute; height: 735px; width: 1140px; left: -900px; top: 0; }
#prod-hero .container::before { left: -850px; }
#prod-hero #pricebrick { padding-top: 15px; border-top: 1px solid rgba(255,255,255,.2); }
#prod-hero .details { padding-bottom: 10px; }
#prod-hero .tab-content { display: flex; }
#prod-hero .tab-content>.tab-pane { width: 100%; margin-right: -100%; display: block; visibility: hidden; }
#prod-hero .tab-content>.active { display: block; visibility: visible; }
#prod-hero .content p { height: 45px }
.pl #prod-hero .content p { margin: 30px 0 20px; display: inline-block; }
.pl #prod-hero .content a.stars { white-space: nowrap; }
.prod-info .download { background: transparent; color: #fff; text-transform: uppercase; border: 2px solid #fff; text-align: left; padding: 9px 90px 10px 20px; position: relative; }
.prod-info .download div { border: 0; padding-right: 15px; font-weight: 500; line-height: 1.2; font-size: 15px }
.prod-info .download::after { content: ""; background: url(/static/cdgs/product_content/cdgs/2020/icon-download.png); position: absolute; top: 10px; right: 14px; height: 35px; width: 38px; }
.prod-info .download.no-version::after { top: 0; }
.section-intro h2 { font-size: 40px }
#accordion-mobile { display: none }
#product-nav .navbar-collapse { text-align: center; padding-left: 0; padding-right: 0; }
#product-nav.sticky .navbar-collapse { text-align: left; }
#product-nav.sticky .navbar-brand { display: none; }
#product-nav.sticky #buy { border-bottom: none; padding: 15px 20px 17px; font-weight: 400; }
#product-nav.sticky #buy:hover { background-color: #28acff }
.flow-icons p { padding: 0 30px; }
.designed-for-windows, .designed-for-mac { min-height: 800px }
.ru .accordion.font-sm .title h2, .ru .font-sm.title h2 { font-size: 38px }
.ru .progressive-image video { width: 2000px; }
.ru .progressive-image { min-height: 850px; }
.lg.progressive-image video { width: 1900px; }
.logos .sec-block{padding-top: 60px}
}

@media (max-width: 1700px) {
 .progressive-image video { left: -200px; z-index: 1; }
 .progressive-image { background: #e3dbe0; margin-bottom: 0; min-height: auto; padding-bottom: 50px; }
 .progressive-image .content { z-index: 2 }
}

@media (max-width: 1199px) {
 .feature-gallery .nav>li>a { padding: 0; margin: 0 10px 10px; }
 .feature-gallery .nav-pills>li { min-width: 80px; font-size: 12px }
 .mac .feature-gallery .nav-pills>li { min-width: 150px; }
 .mac.tw .feature-gallery .nav-pills>li { min-width: 140px; }
 .progressive-image video { left: -330px; z-index: 1; }
}

@media (max-width: 991px) {
 .accordion .tab-pane { background-size: cover; background-repeat: no-repeat; background-position: 80% 0; min-height: 400px }
 .dynamic-asset-management .accordion .tab-pane { background-size: cover; background-repeat: no-repeat; background-position: 20% 0;}
 .accordion .tab-pane img.gif-image { max-width: 320px; width: auto; margin-top: 50px; }
 .accordion .panel-title a { font-weight: 500; }
 .feature-gallery .nav>li>a { padding: 0; margin: 0 6px 10px; }
 .feature-gallery .nav-pills>li { margin-bottom: 15px; }
 .paralax-sec h2 { font-size: 42px; }
 .paralax-sec { padding: 120px 15px 130px; }
 .item-holder .content { width: 40%; margin-left: 60%; }
 .extensive-file-compatibility .col-10 { width: 25%; margin-bottom: 20px; float: left }
 .padding-top-150, .padding-top-90, .padding-top-50, .padding-top-20, .padding-top-10 { padding-top: 0 }
 .bitmap-to-vector .sec-block.text-center { position: relative; }
 .artist-name.bottom { right: 10%; bottom: 10px; }
 .progressive-image { background: transparent; }
 .progressive-image video { left: -330px; z-index: 1; width: 1500px !important; height: 445px; overflow: hidden; }
 .progressive-image .content { padding-top: 430px; }
 .dynamic-asset-management .new, .time-saving-typography .new { margin-top: 20px; display: block }
}

@media (max-width: 767px) {
body.responsive .container { overflow: hidden }
#prod-hero { min-height: 595px; }
#prod-hero .lto-promo-container p { font-size: 12px; }
#product-nav #buy { margin-left: 15px }
#product-nav .navbar-nav { display: block; }
.intro-video { width: 125% !important; margin-left: -12.5%; }
.slider-bottom, .feature-gallery { display: none }
.flow-icons { padding-bottom: 40px; text-align: left }
.flow-icons p { font-size: 14px; margin: 5px 0 15px; }
.flow-icons .col .row { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.flow-icons .col .row .col-xs-3 { -ms-flex: 1 0 30%; flex: 1 0 30%; max-width: 30% }
.flow-icons .col .row .col-xs-9 { -ms-flex: 1 0 70%; flex: 1 0 70%; max-width: 70% }
.flow-icons h3 { margin: 5px 0 0; font-size: 20px; }
.flow-icons img { max-width: 80px; margin-bottom: 50px; }
.feature-gallery .nav-pills>li { margin-bottom: 15px; float: none; display: inline-block; }
.professional-design-tools .mobile { margin-bottom: 20px }
.professional-design-tools .mobile .caption { margin-bottom: 40px }
span.new { font-size: 18px; }
.testimonials { padding: 0 }
.testimonials a { font-size: 16px; }
.testimonial::before { margin-right: 5px; font-size: 30px; vertical-align: sub; height: 30px; display: inline-block }
.testimonial::after { margin-left: 5px; font-size: 30px; vertical-align: sub; height: 30px; display: inline-block }
.accordion.font-sm .title h2, .font-sm.title h2 { font-size: 26px; font-weight: 400; }
.panel { background-color: transparent; }
.tools h4 { font-size: 22px; }
.tools p { font-size: 16px; margin-bottom: 45px; }
.accordion .tab-pane { min-height: 350px; }
#whats-inc ul li { font-size: 12px; }
.req-list { margin-bottom: 10px; }
.hero-links a, #prod-hero .new { color: #333; }
#prod-hero { background: #fff }
.accordion-wrap { padding: 20px 0 60px; min-height: 500px }
.accordion-wrap .images { padding: 0 }
.industries .container .artist-name { bottom: 30px; right: 10%; }
.designed-for-windows .images, .designed-for-mac .images { height: 250px }
.tools-background { min-height: 0; background-size: 180%; padding-top: 260px }
.flexible-design .new, .progressive-image .new, .dynamic-asset-management .new, .time-saving-typography .new { margin-top: 20px; display: block; }
.color-fills, .non-destructive-editing, .design-for-print, .store, .learning { min-height: 600px; padding: 0 0 100px; background-position: center bottom; background-size: 220%; }
.color-fills .text-holder, .non-destructive-editing .text-holder, .bitmap-to-vector .text-holder, .design-for-print .text-holder, .learning .text-holder, .store .text-holder { margin-bottom: 220px }
.bitmap-to-vector { padding: 0; }
.progressive-image { padding-bottom: 20px; }
.progressive-image video { margin-left: -100px }
.design-for-print, .learning { background-position: -100px bottom }
.extensive-file-compatibility .octopus { margin: 20px 0 40px -150px; width: 200% !important; }
.color-fills { background-position: -320px bottom; }
.non-destructive-editing { background-position: -75px bottom; }
.professional-design-tools .mobile img { width: 200%; margin-left: -110px }
.wrap-improved-tools-bg { position: relative; height: 400px; z-index: 2; }
.bitmap-to-vector-bg { background-position: -400px center; }
.carousel { padding: 0 40px; min-height: 0 }
.carousel .carousel-control { width: 45px; height: 45px; top: 40%; }
.carousel .testimonial { font-size: 22px; }
.carousel .overview { font-size: 16px; }
a.video span { width: 90px; height: 90px; }
.pad-rl-15 { padding-left: 15px; padding-right: 15px; }
.flex-icons.text-center img { max-width: 60px; }
.flex-icons h4 { line-height: 1.2; font-size: 14px; }
.table-responsive { border: 0 }
#prod-hero { background-image: url(/static/cdgs/product_content/cdgs/2021/hero-cdgs-2021-mobile-en.jpg) !important; background-color: #0d0b26 !important; background-repeat: no-repeat !important; background-size: 100% !important; background-position: center top !important; padding-top: 230px; font-size: 16px; }
#prod-hero .container { background: #0e0b28; }
#prod-hero .title { font-size: 20px; font-weight: 600; line-height: 1.2; margin-top: 0; }
#prod-hero .title .new { display: block; font-size: 16px; line-height: 1.2; color: #ccc; margin: 0; }
#prod-hero .title .description { font-size: 16px; margin-top: 2px; font-weight: 400; }
#prod-hero .content p { font-size: 14px; margin: 0; }
#prod-hero .content a.stars { font-size: 12px }
#prod-hero a.trial { display: none }
#prod-hero .nav p { font-size: 12px; float: right }
#prod-hero .nav>li { width: 100%; }
#prod-hero .nav-tabs, #prod-hero .nav-tabs>li { display: flex; }
#prod-hero .nav>li>a { text-align: center; display: flex; justify-content: center; align-content: center; flex-direction: column; padding: 10px 5px; min-height: 52px; }
#prod-hero .buy-options a { padding: 7px 20px 9px; }
#prod-hero .download { display: none !important }
#prod-hero .po, #prod-hero .link-ug, #prod-hero .pur-info { display: none !important; font-size: 13px; margin-right: 0 }
#prod-hero .nav h4 { font-size: 13px; }
#prod-hero .nav-tabs>li.active>a, #prod-hero .nav-tabs>li.active>a:focus, #prod-hero .nav>li>a:hover, #prod-hero .nav-tabs>li.active>a:hover { padding: 10px 20px }
#prod-hero .nav>li.active>a { padding: 9px 5px !important }
#prod-hero .nav>li { width: 32%; }
#prod-hero .nav>li a { padding: 10px 20px; border-top: 1px solid #707070; }
#prod-hero .nav>li.active a, #prod-hero .nav>li a.active:hover { border-top: 2px solid #009CFF; padding: 10px }
#prod-hero .nav>li.sub a { padding: 10px 5px; }
#prod-hero .nav>li.sub .flag-value { font-size: 10px; top: 4px; right: 0; text-align: center; font-weight: 600; color: #009cff }
#prod-hero .nav>li.sub.active .flag-value { top: 3px; }
#prod-hero .product-info { padding-top: 10px; }
#prod-hero .details { text-align: left; margin: 0 0 30px; }
#prod-hero .details p { font-size: 13px; margin: 0 0 5px; }
#prod-hero .hero-links a, #prod-hero .new { color: #fff; }
#prod-hero .hero-links { margin-bottom: 20px }
#prod-hero .hero-links p { margin-bottom: 8px; }
#prod-hero .hero-links a { color: #ddd; font-weight: 400 }
#prod-hero .tagline { display: block !important; color: #ddd }
#prod-hero .stars img { margin: 0 0 2px; width: 65px; }
/*#prod-hero */.lto-box { border: 1px solid #5a5a5a; background-color: #1f1f1f; padding: 5px 15px 15px }
#prod-hero .lto-promo-container p { line-height: 1.2 }
#prod-hero .lto-promo-container p.link { text-decoration: underline }
.whats-new-vid { min-height: 300px }
.whats-new-vid .callout { margin-top: 75px; }
.whats-new-vid h2 { font-size: 20px; margin: 0 }
.whats-new-vid .wordmark { max-width: 85% }
.promo.text-center {font-size: 14px; }
 .download-trial .btn { display: none!important; }
}

@media (max-width: 500px) {
#prod-hero .container { background: none; }
}

@media (max-width: 560px) {
 .btn, .button a { white-space: inherit; }
}

@media (min-width: 992px) {
.accordion .title h2 { font-size: 42px; }
.accordion.full-width .images { position: inherit; width: 100%; }
.accordion.full-width .tab-content { width: 100%; height: 100%; position: absolute; z-index: 0; left: 0; top: 0; }
.accordion.full-width .content { left: 0; top: 0; }
.accordion.full-width.right .content { right: 0; top: 0; float: right }
.accordion.full-width .tab-pane { height: 100%; width: 100%; background-size: cover; background-position: 50% 100%; background-repeat: no-repeat }
#prod-hero .container::before { left: -640px; }
.dynamic-asset-management, .time-saving-typography { min-height: 700px }
}

@media (min-width: 1200px) {
.designed-for-windows .content, .designed-for-mac .content { padding-right: 50px }
#prod-hero .container::before { left: -600px; }
/*.full-img img {position: absolute; max-width: 1000px; top: 0; left: 20px; }*/
}

@media (min-width: 992px) and (max-width: 1199px) {
#prod-hero .title { font-size: 22px }
#prod-hero .title .description { font-size: 17px }
}

@media (min-width: 992px) and (max-width: 1649px) {
 .feature-gallery .tab-content.image { padding-bottom: 55% }
 .whats-inc .tab-pane.active img { width: 85%; }
}

@media (min-width: 1650px) {
 .feature-gallery .tab-content.image { padding-bottom: 64% }
}

@media (min-width: 1200px) and (max-width: 2199px) {
 .feature-gallery .nav-pills>li { font-size: 13px }
}

@media (min-width: 2200px) {
 .accordion.full-width .tab-pane { background-size: contain; }
 .color-fills, .non-destructive-editing, .bitmap-to-vector, .design-for-print, .store { background-size: contain; }
 .gallery-container .col-xl-2 { width: 16.66% }
}
